/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: gotic;
  src: url(../fonts/League_Gothic.otf);
}
@font-face {
  font-family: openSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: miryad;
  src: url(../fonts/MyriadPro-Regular.otf);
}
/*mixins*/
* {
  text-decoration: none;
}

body > * {
  display: block;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 515px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
}
header .slider {
  background: url(../img/bg.jpg) top center;
  padding: 0 0 68px 0;
}
header h2 {
  font-size: 48px;
  font-family: gotic;
  line-height: 33.72px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 73px 0 23px 0;
  letter-spacing: -.3px;
  position: relative;
  left: 2px;
  -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
header .textER {
  width: 33px;
  height: 38px;
  background: url(../img/text_ER.png);
  margin: 72px auto 21px auto;
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: -3px;
  left: -2px;
}
header .menuCover {
  position: relative;
  margin: 0 auto;
  padding: 7px 50px 2px 50px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}
header .home {
  font-size: 24px;
  font-family: gotic;
  color: #fff;
  line-height: 35px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 3px auto;
  width: 47px;
  border-bottom: 2px solid #edbfff;
  -moz-text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
  -o-text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
}
header .menuCover li {
  border-left: 1px solid #051116;
  border-right: 1px solid #051116;
}
header .menuCover:hover {
  background: rgba(54, 41, 62, 0.9);
  width: 144px;
  /*position: relative; 
  margin: 0 auto; */
  border-bottom: 1px solid #36283e;
  border-radius: 8px 8px 0 0;
  border-left: 1px solid #051116;
  border-right: 1px solid #051116;
  border-top: 1px solid #051116;
}
header .menuCover:hover .subMenu {
  display: block;
}
header .menuCover:hover .home {
  -moz-text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  -webkit-text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  -o-text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
header .subMenu > li a:hover {
  background: rgba(43, 34, 49, 0.9);
  border-bottom: 2px solid #edbfff;
}
header .subMenu {
  position: absolute;
  left: -1px;
  display: none;
}
header .subMenu li {
  border-top: 1px solid #523f5a;
  border-bottom: 1px solid #36283e;
  border-left: 1px solid #051116;
  border-right: 1px solid #051116;
}
header .l-ch {
  border-radius: 0px 0px 8px 8px;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
header .subMenu > li a {
  width: 144px;
  padding: 0px 51px 1px 49px;
  font-size: 24px;
  background: rgba(54, 41, 62, 0.9);
  font-family: gotic;
  color: #edbfff;
  line-height: 38px;
  text-transform: uppercase;
  display: block;
  border-bottom: 2px solid transparent;
  -moz-text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
  -o-text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0 10px rgba(0, 0, 0, 0.6);
}

.pointer {
  padding: 114px 0 0 65px;
  color: #fefefe;
  font-family: gotic;
  letter-spacing: -.1px;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: capitalize;
  -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.pointerNext {
  color: #edbfff;
  font-size: 18px;
  font-family: gotic;
  line-height: 24px;
  margin: 0 0 0 64px;
  letter-spacing: .1px;
  text-align: left;
  text-transform: uppercase;
  -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.pointerIcon1,
.pointerIcon2 {
  display: block;
  width: 25px;
  height: 37px;
  background: url(../img/pointers.png);
  background-position: -14px -17px;
  float: left;
  position: relative;
  top: -48px;
}

.pointerIcon2 {
  background-position: -42px -17px;
  float: right;
}

.sliderSpots {
  margin: 76px 0 0 7px;
  height: 17px;
  /*add or delete .hotSpot in DOM for changing */
}
.sliderSpots .spot {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  background: rgba(0, 0, 0, 0.3);
  vertical-align: top;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.sliderSpots .spot:last-child {
  margin: 0;
}
.sliderSpots .hotSpot::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  background: -webkit-linear-gradient(#fff, #d4d4d4);
  background: -o-linear-gradient(#fff, #d4d4d4);
  background: -moz-linear-gradient(#fff, #d4d4d4);
  background: linear-gradient(#fff, #d4d4d4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*aboutCompany*/
.aboutComp {
  width: 100%;
  height: 597px;
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #33253a;
  padding: 69px 27px 67px 10px;
  /*margin: 0 0 20px 0;*/
  background: -webkit-linear-gradient(#745083, #322539);
  background: -o-linear-gradient(#745083, #322539);
  background: -moz-linear-gradient(#745083, #322539);
  background: linear-gradient(#745083, #322539);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
}

/*!!!! this proprety will be changed*/
.aboutCompWrap {
  width: 100%;
  float: left;
  color: #fff;
  text-align: right;
  position: relative;
  margin: 0 0 22px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
}
.aboutCompWrap .wrenchImg {
  width: 26px;
  height: 26px;
  padding: 0 0 0 0;
  background: url(../img/wrench.png) no-repeat center;
  position: absolute;
  top: 4px;
  left: 22px;
}
.aboutCompWrap h3 {
  font-family: gotic;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 3px 72px;
  letter-spacing: .1px;
  -moz-text-shadow: 1px 1px 0px #0f1518;
  -webkit-text-shadow: 1px 1px 0px #0f1518;
  -o-text-shadow: 1px 1px 0px #0f1518;
  text-shadow: 1px 1px 0px #0f1518;
}
.aboutCompWrap p {
  font-family: openSans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding: 0 10px 0 0;
  margin: 0 0 13px 72px;
  letter-spacing: -.5px;
  -moz-text-shadow: 1px 1px 0px #0f1518;
  -webkit-text-shadow: 1px 1px 0px #0f1518;
  -o-text-shadow: 1px 1px 0px #0f1518;
  text-shadow: 1px 1px 0px #0f1518;
}
.aboutCompWrap a {
  font-size: 18px;
  font-family: gotic;
  line-height: 24px;
  margin: 0 0 0 0;
  color: #fff;
  -moz-text-shadow: 1px 1px 0px #0f1518;
  -webkit-text-shadow: 1px 1px 0px #0f1518;
  -o-text-shadow: 1px 1px 0px #0f1518;
  text-shadow: 1px 1px 0px #0f1518;
}
.aboutCompWrap a:hover {
  -moz-text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  -webkit-text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  -o-text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.correct {
  margin: 16px 0 0 0;
}

/*content*/
.content {
  width: 100%;
  background: #f9f9f9;
  border-top: 1px solid #fff;
  padding: 70px 0 0 0;
}

/*block1*/
.block1Wrapper {
  width: 255px;
  background: #fff;
  margin: 0 2px 2px 44px;
  padding: 23px 38px 27px 35px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}
.block1Wrapper .photo {
  width: 49px;
  height: 49px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url(../img/photo.png);
  position: absolute;
  top: 17px;
  left: -25px;
}
.block1Wrapper h3 {
  color: #454545;
  font-family: gotic;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  -moz-text-shadow: 1px 0 0 #fff;
  -webkit-text-shadow: 1px 0 0 #fff;
  -o-text-shadow: 1px 0 0 #fff;
  text-shadow: 1px 0 0 #fff;
}
.block1Wrapper h3 span {
  color: #edbfff;
  display: block;
  margin: 0 0 5px 0;
}
.block1Wrapper p {
  font-size: 16px;
  font-family: openSans;
  font-weight: light;
  color: #454545;
  padding: 0 0 0 2px;
  line-height: 24px;
  letter-spacing: -.5px;
  word-wrap: break-word;
}

/*spotOverride*/
.spotOverride {
  text-align: center;
  margin: 23px 0 0 44px;
}
.spotOverride .spot {
  width: 15px;
  height: 15px;
  border: 1px solid #e6e6e6;
  background: #fff;
  margin: 0 0 0 0;
}
.spotOverride .hotSpot::after {
  border: 1px solid #454545;
  background: -webkit-linear-gradient(#6a6a6a, #454545);
  background: -o-linear-gradient(#6a6a6a, #454545);
  background: -moz-linear-gradient(#6a6a6a, #454545);
  background: linear-gradient(#6a6a6a, #454545);
}

/*block2*/
.contentBlock2 {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
}
.contentBlock2 h3 {
  font-family: gotic;
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
  text-align: left;
  margin: 50px 0 14px 17px;
}
.contentBlock2 article {
  margin: 0 0 20px 0;
  width: 100%;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
}
.contentBlock2 p {
  font-family: openSans;
  font-size: 16px;
  font-weight: 200;
  color: #454545;
  margin: 0 0 0 85px;
  line-height: 24px;
  letter-spacing: -.4px;
}
.contentBlock2 .bold {
  font-weight: 800;
  letter-spacing: -.5px;
}
.contentBlock2 a {
  font-family: gotic;
  font-size: 18px;
  color: #454545;
  float: right;
  margin: 0 27px 88px 0;
}

.block2img {
  height: 49px;
  width: 49px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.block2img1 {
  position: absolute;
  top: 2px;
  left: 19px;
  background: url(../img/art1pic.png);
}

.block2img2 {
  position: absolute;
  top: -1px;
  left: 19px;
  background: url(../img/art2pic.png);
}

.block2img3 {
  position: absolute;
  top: 1px;
  left: 19px;
  background: url(../img/art3pic.png);
}

.art1,
.art3 {
  top: 1px;
}

.art2 {
  top: -1px;
}

/*block3*/
/*brands*/
.contentBlock3 {
  width: 100%;
  border-top: 1px solid #fff;
  padding: 21px 0 24px 0;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.brands {
  background: #f9f9f9;
  width: 50%;
  height: 125px;
  float: left;
  position: relative;
}

.br {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: .6;
}

.br:hover {
  opacity: 1;
}

.brand1 {
  width: 70px;
  height: 65px;
  background: url(../img/brandSlider.jpg);
  background-position: -41px -25px;
  left: 31px;
}

.brand2 {
  width: 75px;
  height: 65px;
  background: url(../img/brandSlider.jpg);
  background-position: -165px -25px;
  left: -37px;
}

.brand3 {
  width: 65px;
  height: 65px;
  background: url(../img/brandSlider.jpg);
  background-position: -50px -150px;
  left: 43px;
}

.brand4 {
  width: 60px;
  height: 67px;
  background: url(../img/brandSlider.jpg);
  background-position: -170px -150px;
  left: -40px;
}

.brand5 {
  width: 108px;
  height: 27px;
  background: url(../img/brandSlider.jpg);
  background-position: -20px -275px;
  left: 26px;
  top: -34px;
}

.brand6 {
  width: 83px;
  height: 67px;
  background: url(../img/brandSlider.jpg);
  background-position: -180px -255px;
  top: -36px;
}

.clear {
  content: " ";
  display: block;
  clear: both;
}

/*footer*/
footer {
  width: 100%;
  height: 201px;
  background: url(../img/footerBG.jpg) center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: padding-box;
  z-index: 3;
}
footer p {
  font-family: openSans;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 43px 1px 0 0;
  letter-spacing: -.7px;
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  -o-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
footer p span {
  font-weight: 800;
}
